COMPOSE_PROJECT_NAME=wunderbieb-local

POSTGRES_DB=wunderbieb
POSTGRES_USER=kms
POSTGRES_PASSWORD=kms

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
KMS_MINIO_BUCKET=wunderbieb-documents

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_REALM=wunderbieb-dev
VITE_OIDC_CLIENT_ID=wunderbieb-ui
VITE_OIDC_REALM=wunderbieb-dev

KMS_DB_URL=jdbc:postgresql://postgres:5432/wunderbieb
KMS_DB_USERNAME=kms
KMS_DB_PASSWORD=kms
KMS_MINIO_ENDPOINT=http://minio:9000
KMS_MINIO_ACCESS_KEY=minioadmin
KMS_MINIO_SECRET_KEY=minioadmin
KMS_OIDC_ENABLED=true
KMS_OIDC_ISSUER_URI=
KMS_OIDC_JWK_SET_URI=http://keycloak:8080/realms/wunderbieb-dev/protocol/openid-connect/certs
KMS_DEBUG_ROLE_HEADER_ENABLED=false
KMS_DEBUG_ROLE_HEADER_NAME=X-Demo-Role-Code

POSTGRES_PORT=55432
API_PORT=18080
KEYCLOAK_PORT=18081
MINIO_API_PORT=19000
MINIO_CONSOLE_PORT=19001
UI_PORT=15173
