POSTGRES_DB=wunderbieb
POSTGRES_USER=kms
POSTGRES_PASSWORD=kms

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
KMS_MINIO_BUCKET=wunderbieb-documents

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

KMS_DB_URL=jdbc:postgresql://postgres:5432/wunderbieb
KMS_DB_USERNAME=kms
KMS_DB_PASSWORD=kms
KMS_MINIO_ENDPOINT=http://minio:9000
KMS_MINIO_ACCESS_KEY=minioadmin
KMS_MINIO_SECRET_KEY=minioadmin
KMS_OIDC_ENABLED=false
KMS_DEBUG_ROLE_HEADER_ENABLED=true
KMS_DEBUG_ROLE_HEADER_NAME=X-Demo-Role-Code

API_PORT=8080
UI_PORT=5173
KEYCLOAK_PORT=8081
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
